<p *ngIf = "!(books$ | async)" >Loading...</p>
<div class="example-button-row">
    <button 
       mat-raised-button color="primary"
       [routerLink]="'/bookform'">
       Add Book
    </button>
  </div>
<mat-accordion>
    <mat-expansion-panel *ngFor = "let book of books$ | async">   <!--using the observer to see the books-->
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{book.title}}
        </mat-panel-title>

    </mat-expansion-panel-header>
      <p>{{book.author}}</p>
      <button 
       mat-raised-button color="primary"
       (click)= deleteBook(book.id)>
       Delete Book
    </button>
    <button 
       mat-raised-button color="primary"
       [routerLink]="'/bookform/'+book.id">
       Update Book
    </button>
    </mat-expansion-panel>
  </mat-accordion>


    